{% extends 'base.html' %}
{% block title %}
    servicios
{% endblock title %}
{% block head %}
<main id="main">
    <h1>Servicios</h1>            
{% endblock head %}
{% block body %}
    <main id="main">
        
        <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Servicios</h2>
            <p>Checka tus Servicios</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">                
              <div class="icon-box">
                <div class="icon"><img class="aligncenter" src="static/assets/img/icono-programas-musculacion_1.png" alt="" width="50" height="50" ></div>
                <h4><a href="">Musculación</a></h4>
                <p>Desarrollo o Aumento del volumen de los Músculos del cuerpo</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img class="aligncenter" src="static/assets/img/icono-functional-training.png" alt="" width="50" height="50" ></div>
                <h4><a href="">Entrenamiento Funcional</a></h4>
                <p>El Funtional Training no es una moda, muta/evoluciona sobre la propia experiencia de los entrenadores que lo utilizan y 
                    las nuevas evidencias científicas que hacen crecer el sector del rendimiento, la estética y la salud de forma continua.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><img class="aligncenter" src="static/assets/img/icono-programas-dance.png" alt="" width="60" height="60" ></div>
                <h4><a href="">Danza</a></h4>
                <p>Un estilo de entrenamiento  que te permite tonificar, definir y lograr reducir tu grasa corporal de una manera efectica en solo una hora, adicionalmente puedes obtener  
                    la quema  de 560 calorias por sesion y lo mas importante es una forma de realizar actividad fisica de una manera divertida.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><img class="aligncenter" src="static/assets/img/icono-programas-cycling.png" alt="" width="60" height="60" ></div>
                <h4><a href="">Spining</a></h4>
                <p>Esta disciplina te ayuda a adelgazar y fortalecer piernas y glúteos</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img class="aligncenter" src="static/assets/img/icono-programas-pilates.png" alt="" width="60" height="60" ></div>
                <h4><a href="">Pilates</a></h4>
                <p>El pilates es un método que comprende una lista de ejercicios físicos y estiramientos que usan el peso del propio cuerpo.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><img class="aligncenter" src="static/assets/img/icono-programas-yoga.png" alt="" width="60" height="60" ></div>
                <h4><a href="">Yoga</a></h4>
                <p>El yoga es una disciplina tradicional espiritual, física y mental originada en la India.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
    </main>
    <!-- End #main -->
{% endblock body %}
